.DS_Store
*/.DS_Store

.venv
.ipynb_checkpoints
.ipynb_checkpoints/
*.zip
*.jpg
__MACOSX/._10_food_classes_all_data
__MACOSX/10_food_classes_all_data/._test
__MACOSX/10_food_classes_all_data/._train
__MACOSX/10_food_classes_all_data/test/._chicken_curry
__MACOSX/10_food_classes_all_data/test/._chicken_wings
__MACOSX/10_food_classes_all_data/test/._fried_rice
__MACOSX/10_food_classes_all_data/test/._grilled_salmon
__MACOSX/10_food_classes_all_data/test/._hamburger
__MACOSX/10_food_classes_all_data/test/._ice_cream
__MACOSX/10_food_classes_all_data/test/._pizza
__MACOSX/10_food_classes_all_data/test/._ramen
__MACOSX/10_food_classes_all_data/test/._steak
__MACOSX/10_food_classes_all_data/test/._sushi
__MACOSX/10_food_classes_all_data/train/._sushi
__MACOSX/10_food_classes_all_data/train/._steak
__MACOSX/10_food_classes_all_data/train/._ramen
__MACOSX/10_food_classes_all_data/train/._pizza
__MACOSX/10_food_classes_all_data/train/._ice_cream
__MACOSX/10_food_classes_all_data/train/._chicken_curry
__MACOSX/10_food_classes_all_data/train/._chicken_wings
__MACOSX/10_food_classes_all_data/train/._fried_rice
__MACOSX/10_food_classes_all_data/train/._grilled_salmon
__MACOSX/10_food_classes_all_data/train/._hamburger
*.pb
*.data-00000-of-00001
*.index
.idea/vcs.xml
.idea/vcs.xml
*.iml
*.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/tensorflow-deep-learning.iml
.idea/vcs.xml
