pandas
matplotlib
seaborn
scikit-learn
--extra-index-url https://pypi.ngc.nvidia.com
tensorflow-hub
tensorflow-datasets
tensorflow-text
ipykernel
spacy
numpy
# onnx
# protobuf
# nvidia-pyindex
nvidia-tensorrt